/* #app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
} */
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato',sans-serif;
}

.main_container{
  padding-top: 2px;
  width: 95%;
  margin:0 auto;
  overflow-x: auto;
}

nav{
  padding: 2em;
  display: flex;
  height: 5em;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: rgb(53, 53, 53);
}

.logo{
  font-weight: bold;
  font-size: 2em;
  width: 25%;
}

.logo a{
  text-decoration: none;
  color: white;
}

ul.menu{
  width: 50%;
  justify-content: space-between;
  list-style: none;
  display: flex;
}

li a{
  text-decoration: none;
  color:white;
  transition: .4s;
  border-bottom: 2px solid transparent;
}

li a:hover{
  padding-bottom: 0;
  left: 0;
  top: 0;
  color: rgb(240, 243, 47);
  border-bottom: 2px solid rgb(240, 243, 47);
}

header.head{
  background-color:rgb(86, 110, 155);
  color: white;
  padding:1em;
  margin-bottom: 2px;
  text-align: center;
  font-size: 2em;

}


